<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
    <style>
        .intaSendPayButton {
            background: #2cc1ee;
            border-radius: 3px;
            border: 1px solid #2cc1ee;
            color: #fff;
            height: 34px;
        }

        .intaSendPayButton:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div>
        <button class="intaSendPayButton" data-amount="10" data-currency="KES" data-email="joe@doe.com"
            data-first_name="JOE" data-last_name="DOE" data-country="KE">
            Pay Now
        </button>
    </div>

    <script src="https://cdn.intasend.com/js/ints.js"></script>
    <script>
        new window.IntaSend({
            publicAPIKey: "ISPubKey_live_ce1ca7a8-70be-4500-b1fc-cb2845bcdc83",
            live: true
        })
        .on("COMPLETE", (results) => console.log("Do something on success", results))
        .on("FAILED", (results) => console.log("Do something on failure", results))
        .on("IN-PROGRESS", (results) => console.log("Payment in progress status", results));
    </script>
</body>

</html>
